  <div class="col-xs-8">
  	<div class="jumbotron">
  		<div class="row">
  			<div class="col-xs-2">
  				<%= image_tag(User.find_by(id: @tweet.user_id).image, class: "protrait")%>
  			</div>
  			<div class="col-xs-8">
  				<h4><%= User.find_by(id: @tweet.user_id).username %></h4>
  				<br>
  				<%= @tweet.content %>
  				<br>
  				<% if @tweet.image.present? %>
  				<%= image_tag @tweet.image, class: "tweet-image" %>
  				<% end %>
  				<br><br>
  				<small><%= Time.at(@tweet.date) %></small>
  			</div>
  			<% if @tweet.user_id == session["user_id"].to_i %>
  			<div class="col-xs-1">
  				<%= link_to 'Edit', edit_tweet_path(@tweet.id) %>
  			</div>
  			<div class="col-xs-1">
  				<%= link_to 'Delete', tweet_path(@tweet.id), method: :delete %>
  			</div>
  			<% end %>
  		</div>
  		<hr>
  		<!-- <div class="col-xs-3">
  			<a href="#" >Like</a>
  		</div> -->
  		<!-- <div class="col-xs-3">
  			Share
  		</div>
 -->  		<br>

  		<!-- hidden part for comments -->
  		<div style="margin-top:20px">
  			<%= form_tag tweet_comments_path(@tweet.id), method:"post" do %>
  			<label for="comment">
  				<%= image_tag(session["user_image"], class: "protrait")%>
  				<%= session["username"] %>
  			</label>
  			<br><br>
  			<input name="comment" style="width:80%">
  			<button class="btn btn-success">Comment</button>
  			<% end %>
  			<% comments = Comment.where(tweet_id: @tweet.id).order('date desc') %>
  			<% if ! comments.nil? %>
  			<% comments.each do |comment| %>
  			<hr class="dividing_line">
  			<div class="row">
  				<div class="col-xs-1">
  					<%= image_tag(User.find_by(id: comment.user_id).image, class: "protrait")%>
  				</div>
  				<div class="col-xs-10">
  					<h4>
  						<%= User.find_by(id: comment.user_id).username %>
  						<div class="pull-right">
  							<small><%= Time.at(comment.date) %></small>
  						</div>
  					</h4>
  					<br>
  					<%= comment.content %>
  				</div>
  				<div class="col-xs-1">
  					<% if comment.user_id == session["user_id"].to_i %>
  					<%= link_to 'Delete', tweet_comment_path(@tweet.id ,comment.id), method: :delete%>
  					<% end %>
  				</div>
  			</div>
  			<% end %>
  			<% end %>
  		</div>
  	</div>
  </div>

  <div class="col-xs-3">
  	<% if session["user_id"].present? %>
  	<div class="jumbotron">
  		<%= image_tag(session["user_image"], class: "protrait")%>
  		<%= session["username"]%>
  		<hr>
  		<li>following</li>
  		<li>follower</li>
  		<li>tweets</li>
  	</div>
  	<% end %>
  </div>