<!DOCTYPE html>
<html>
<head>
  <title>Final</title>
  <%= favicon_link_tag 'http://www.leaside.co.uk/i/tweet.png',type: 'image/png'%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <big>Tweet</big>
            <sub><small>alpha</small></sub>
          </a>
        </div>
        <ul class="nav navbar-nav" style="margin-left:50px">
          <li><a href="">Home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Settings
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="">Account Settings</a></li>
              <li><a href="">Account Safety</a></li>
              <li><a href="">Message Center</a></li>
            </ul>
          </li>
          <li><a href="">Message</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact us</a></li>
        </ul>

        <ul class="nav navbar-nav pull-right">
          <% if cookies["user_id"].present? %>
          <li><%= link_to User.find_by(id: cookies["user_id"]).username, user_path(cookies["user_id"]) %></li>
          <li><%= link_to "Sign Out", logout_path %></li>
          <% else %>
          <li><%= link_to "Sign Up", '/signup' %></li>
          <li><%= link_to "Sign In", '/login' %></li>
          <% end %>
        </ul>
        
      </div>
    </nav>
  </div>

  <div class="container" style="padding-top:60px">
    <% if notice.present? %>
    <div class="alert alert-info" style="text-align: center; width: 70%; margin-left: 10%">
      <%= notice %>
    </div>
    <% end %>

    <%= yield %>

  </div>

</body>
</html>
