<!DOCTYPE html>
<html>
<head>
  <title>Final</title>
  <%= favicon_link_tag 'http://www.leaside.co.uk/i/tweet.png',type: 'image/png'%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="col-xs-2">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <big>Tweet</big>
              <sub><small>alpha</small></sub>
            </a>
          </div>
        </div>
        <div class="col-xs-7">
          <ul class="nav navbar-nav">
            <li><a href="">Home</a></li>
            <!-- <li><a href="">About</a></li>
            <li><a href="">Contact us</a></li> -->
          </ul>
          <% if session["user_id"].present? %>
          <%= form_tag users_path, method:"get", class: "navbar-form" do %>
          <div class="input-group pull-right">
            <input type="text" class="form-control" placeholder="People" name="keyword">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">Search</button>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>

        <div class="col-xs-3">
          <ul class="nav navbar-nav">
            <% if session["user_id"].present? %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <%= User.find_by(id: session["user_id"]).username %>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Account", user_path(session["user_id"]) %></li>
                <li><%= link_to "Messages", connections_path%></li>
                <li><%= link_to "Sign Out", logout_path %></li>
              </ul>
            </li>
            <% else %>
            <li><%= link_to "Sign Up", '/signup' %></li>
            <li><%= link_to "Sign In", '/login' %></li>
            <% end %>
          </ul>
        </div>
        
      </div>
    </nav>
  </div>

  <div class="container" style="padding-top:60px">
    <% if notice.present? %>
    <div class="alert alert-info" style="text-align: center; width: 70%; margin-left: 10%">
      <%= notice %>
    </div>
    <% end %>

    <%= yield %>

  </div>

</body>
</html>
